{% extends 'base.html' %}

{% block title %}Classify{% endblock %}

{% block content %}
<h2>Classify Ransomware</h2>
<form method="post">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-4">
            <div class="mb-2">
                <label for="Machine" class="form-label">Machine</label>
                <input type="number" class="form-control" id="Machine" name="Machine">
            </div>
            <div class="mb-2">
                <label for="DebugSize" class="form-label">Debug Size</label>
                <input type="number" class="form-control" id="DebugSize" name="DebugSize">
            </div>
            <div class="mb-2">
                <label for="DebugRVA" class="form-label">Debug RVA</label>
                <input type="number" class="form-control" id="DebugRVA" name="DebugRVA">
            </div>
            <div class="mb-2">
                <label for="MajorImageVersion" class="form-label">Major Image Version</label>
                <input type="number" class="form-control" id="MajorImageVersion" name="MajorImageVersion">
            </div>
            <div class="mb-2">
                <label for="MajorOSVersion" class="form-label">Major OS Version</label>
                <input type="number" class="form-control" id="MajorOSVersion" name="MajorOSVersion">
            </div>
        </div>
        <div class="col-md-4">
            <div class="mb-2">
                <label for="ExportRVA" class="form-label">Export RVA</label>
                <input type="number" class="form-control" id="ExportRVA" name="ExportRVA">
            </div>
            <div class="mb-2">
                <label for="ExportSize" class="form-label">Export Size</label>
                <input type="number" class="form-control" id="ExportSize" name="ExportSize">
            </div>
            <div class="mb-2">
                <label for="IatVRA" class="form-label">Iat VRA</label>
                <input type="number" class="form-control" id="IatVRA" name="IatVRA">
            </div>
            <div class="mb-2">
                <label for="MajorLinkerVersion" class="form-label">Major Linker Version</label>
                <input type="text" class="form-control" id="MajorLinkerVersion" name="MajorLinkerVersion">
            </div>
            <div class="mb-2">
                <label for="MinorLinkerVersion" class="form-label">Minor Linker Version</label>
                <input type="text" class="form-control" id="MinorLinkerVersion" name="MinorLinkerVersion">
            </div>
        </div>
        <div class="col-md-4">
            <div class="mb-2">
                <label for="NumberOfSections" class="form-label">Number Of Sections</label>
                <input type="text" class="form-control" id="NumberOfSections" name="NumberOfSections">
            </div>
            <div class="mb-2">
                <label for="SizeOfStackReserve" class="form-label">Size Of Stack Reserve</label>
                <input type="text" class="form-control" id="SizeOfStackReserve" name="SizeOfStackReserve">
            </div>
            <div class="mb-2">
                <label for="DllCharacteristics" class="form-label">Dll Characteristics</label>
                <input type="text" class="form-control" id="DllCharacteristics" name="DllCharacteristics">
            </div>
            <div class="mb-2">
                <label for="ResourceSize" class="form-label">Resource Size</label>
                <input type="text" class="form-control" id="ResourceSize" name="ResourceSize">
            </div>
            <div class="mb-2">
                <label for="BitcoinAddresses" class="form-label">Bitcoin Addresses</label>
                <input type="text" class="form-control" id="BitcoinAddresses" name="BitcoinAddresses">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-2">
            <label for="model_type" class="form-label">Model Type</label>
            <select class="form-select" id="model_type" name="model_type">
                <option value="rf">Random Forest</option>
                <option value="nb">Naive Bayes</option>
            </select>
        </div>
        <div class="col-md-6 mb-2">
            <label for="classification_result" class="form-label">Original File Classification</label>
            <input type="text" class="form-control" id="classification_result" name="classification_result" readonly>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <button type="submit" class="btn btn-primary w-100">Submit</button>
        </div>
        <div class="col-md-6">
            <button type="button" class="btn btn-secondary w-100" onclick="fillDefaultData()">Use Default Data</button>
        </div>
    </div>
</form>

<script>
    function fillDefaultData() {
        const defaultData = [
            {
                Machine: 332,
                DebugSize: 0,
                DebugRVA: 0,
                MajorImageVersion: 0,
                MajorOSVersion: 4,
                ExportRVA: 0,
                ExportSize: 0,
                IatVRA: 8192,
                MajorLinkerVersion: 8,
                MinorLinkerVersion: 0,
                NumberOfSections: 3,
                SizeOfStackReserve: 1048576,
                DllCharacteristics: 34112,
                ResourceSize: 672,
                BitcoinAddresses: 0,
                benign: 1
            },
            {
                Machine: 34404,
                DebugSize: 84,
                DebugRVA: 24608,
                MajorImageVersion: 10,
                MajorOSVersion: 10,
                ExportRVA: 30816,
                ExportSize: 328,
                IatVRA: 22680,
                MajorLinkerVersion: 14,
                MinorLinkerVersion: 10,
                NumberOfSections: 7,
                SizeOfStackReserve: 262144,
                DllCharacteristics: 16736,
                ResourceSize: 1072,
                BitcoinAddresses: 0,
                benign: 1
            },
            {
                Machine: 322,
                DebugSize: 84,
                DebugRVA: 119964,
                MajorImageVersion: 0,
                MajorOSVersion: 6,
                ExportRVA: 143360,
                ExportSize: 147,
                IatVRA: 122880,
                MajorLinkerVersion: 14,
                MinorLinkerVersion: 10,
                NumberOfSections: 6,
                SizeOfStackReserve: 1048576,
                DllCharacteristics: 320,
                ResourceSize: 2032,
                BitcoinAddresses: 0,
                benign: 1
            },
            {
                Machine: 322,
                DebugSize: 28,
                DebugRVA: 4096,
                MajorImageVersion: 0,
                MajorOSVersion: 6,
                ExportRVA: 0,
                ExportSize: 0,
                IatVRA: 0,
                MajorLinkerVersion: 14,
                MinorLinkerVersion: 10,
                NumberOfSections: 6,
                SizeOfStackReserve: 1048576,
                DllCharacteristics: 1344,
                ResourceSize: 832376,
                BitcoinAddresses: 0,
                benign: 1
            },
            {
                Machine: 344,
                DebugSize: 1,
                DebugRVA: 1,
                MajorImageVersion: 1,
                MajorOSVersion: 5,
                ExportRVA: 1,
                ExportSize: 1,
                IatVRA: 8192,
                MajorLinkerVersion: 7,
                MinorLinkerVersion: 1,
                NumberOfSections: 4,
                SizeOfStackReserve: 2097152,
                DllCharacteristics: 1,
                ResourceSize: 1,
                BitcoinAddresses: 1,
                benign: 0,
            },
            {
                Machine: 332,
                DebugSize: 0,
                DebugRVA: 0,
                MajorImageVersion: 0,
                MajorOSVersion: 5,
                ExportRVA: 0,
                ExportSize: 0,
                IatVRA: 532480,
                MajorLinkerVersion: 10,
                MinorLinkerVersion: 0,
                NumberOfSections: 4,
                SizeOfStackReserve: 4194304,
                DllCharacteristics: 32768,
                ResourceSize: 32152,
                BitcoinAddresses: 0,
                benign: 0
            },
            {
                Machine: 332,
                DebugSize: 28,
                DebugRVA: 21424,
                MajorImageVersion: 0,
                MajorOSVersion: 4,
                ExportRVA: 0,
                ExportSize: 0,
                IatVRA: 8192,
                MajorLinkerVersion: 11,
                MinorLinkerVersion: 0,
                NumberOfSections: 3,
                SizeOfStackReserve: 1048576,
                DllCharacteristics: 34112,
                ResourceSize: 6288,
                BitcoinAddresses: 0,
                benign: 0
            }
        ];

        const randomData = defaultData[Math.floor(Math.random() * defaultData.length)];
        const classificationResult = randomData.benign ? 'Benign' : 'Malicious';

        document.getElementById('Machine').value = randomData.Machine;
        document.getElementById('DebugSize').value = randomData.DebugSize;
        document.getElementById('DebugRVA').value = randomData.DebugRVA;
        document.getElementById('MajorImageVersion').value = randomData.MajorImageVersion;
        document.getElementById('MajorOSVersion').value = randomData.MajorOSVersion;
        document.getElementById('ExportRVA').value = randomData.ExportRVA;
        document.getElementById('ExportSize').value = randomData.ExportSize;
        document.getElementById('IatVRA').value = randomData.IatVRA;
        document.getElementById('MajorLinkerVersion').value = randomData.MajorLinkerVersion;
        document.getElementById('MinorLinkerVersion').value = randomData.MinorLinkerVersion;
        document.getElementById('NumberOfSections').value = randomData.NumberOfSections;
        document.getElementById('SizeOfStackReserve').value = randomData.SizeOfStackReserve;
        document.getElementById('DllCharacteristics').value = randomData.DllCharacteristics;
        document.getElementById('ResourceSize').value = randomData.ResourceSize;
        document.getElementById('BitcoinAddresses').value = randomData.BitcoinAddresses;
        document.getElementById('classification_result').value = classificationResult;
    }
</script>
{% endblock %}